.container {
  display: flex;
}

.name {
  font-size: 20px;
}

.desc {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 4px 0;
  font-size: 14px;
  color: #666;
}

.thumbnailContainer {
  border-radius: 8px;
  overflow: hidden;
  margin-right: 16px;
  position: relative;
  flex: 0 0 120px;
  height: 120px;
}

@media screen and (max-width: 750px) {
  .thumbnailContainer {
    margin-right: 12px;
    flex: 0 0 72px;
    height: 72px;
  }

  .name {
    font-size: 12px;
  }

  .desc {
    font-size: 12px;
  }
}

.thumbnail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
